<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Password Match CodePen </title>
    <link rel="stylesheet" href="css/stylePasswordPen.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="./js/passwordPen.js"></script>
</head>

<body ng-app="testApp" ng-controller="stageController">
<form name="myForm">
    <label for="pw1">Set a password:</label>
    <input type="password" id="pw1" name="pw1" ng-model="pw1" ng-required="" />
    <label for="pw2">Confirm the password:</label>
    <input type="password" id="pw2" name="pw2" ng-model="pw2" ng-required="" pw-check="pw1"/>

    <div class="msg-block" ng-show="myForm.$error">
        <!--<span class="msg-error" ng-show="myForm.pw1.$error.pwmatch">Passwords don't match.</span>-->
        <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</span>
        <!--<span class="msg-error" ng-hide="pw1==pw2">New Passwords don't match.</span>-->
        {{pw2}}
    </div>
</form>
{{pw1}}
{{first}}
</body>

</html>