<!DOCTYPE html>
<html lang="en">
<head>
    <title>Education System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="./js/test.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-app="todoApp">

<div class="page-header text-center">
    <h1><img align="center" src="img/softhouse.JPG"> <small>Your complete software partner</small></h1>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header col-sm-2">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class=" collapse navbar-collapse " id="myNavbar">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Careers</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
                <li class="navbar-right"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="ContentDesc">
    <h1 class="text-center">Welcome to the SoftHouse Education System</h1>
</div>

<div class="container" ng-controller="DemoCtrl">

        <div class="col-sm-2 sidenav">
        </div>
        <form class="form-horizontal row">

        <fieldset>
            <!-- Form Name -->
            <legend align="top">Test 1</legend>

            <!-- Multiple Radios (inline) -->
            <div class="control-group" ng-repeat="item in items">
                <label class="control-label" for="question{{item.id}}"> {{item.id}}. {{item.question}} </label>
                <div class="controls" ng-repeat="answers in item.answer">
                    <label class="radio" for="question{{item.id}}-0">
                        <input name="question1" id="question{{item.id}}-0" value="{{answers}}" type="radio">
                        {{answers}}
                    </label>
                </div>
                <br>
            </div>

            <!-- Textarea -->
            <!--<div class="control-group">
                <label class="control-label" for="question2">2.Which reasons you are not totaly satisfied, or insatisfied about your cooperation with GET WIRELESS?</label>
                <div class="controls">
                    <textarea id="question2" name="question2"></textarea>
                </div>
            </div>-->

            <div class="form-group">
                <label class="col-md-4 control-label" for="submitTest"></label>
                <div class="col-md-4">
                    <button id="submitTest"  class="btn btn-primary">Submit</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>


<!--<footer class="navbar navbar-default navbar-fixed-bottom">-->
    <!--&lt;!&ndash;<div class="container-fluid text-center"></div>&ndash;&gt;-->
    <!--<div class="container text-center container-fluid">-->
        <!--© Team M.E.A.N.S, Education System (2015-2016)-->
    <!--</div>-->
<!--</footer>-->
</body>
</html>