/* Step 1 */
h1.title {
    text-align: center;
    border-bottom: 2px solid;
    border-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    width: 100%;
    background-color: lightgrey;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
}

/* Step 2. */
body {
    margin-top: 40px;
    background-color:transparent;

    /* Step6. NO TALK */
    /*background-image: url('../img/sh_bkgr.png');*/
    /*background-size: cover;*/
}

/* Step 3. */
div.note {
    float: left;
    margin: 4px;
    min-width: 400px;
    min-height: 200px;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    opacity: 0.8;

    /* Step 5. */
    transition: all 0.4s;
}

/* Step 4. */
div.note:hover {
    background-color: white;
    box-shadow: 4px 4px 4px lightgrey;
    border-color: black;
    opacity: 1.0;
}

/* Step 5. NO TALK*/
div.note p.title {
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 2px dotted;
    border-color: black;
    font-family: verdana;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.footerEdit{
    padding-bottom:9px;
    margin:40px 0 20px;
    border-bottom:1px solid #eee
}
.sidenav{
    background-color:transparent;
    height:100%;
}
.form-signin {
    max-width: 400px;
    display:block;
    background-color: #f7f7f7;
    -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
    box-shadow: 0 0 3px 3px #888;
    border-radius:2px;
}
.main{
    padding: 38px;
}
.social-box{
    margin: 0 auto;
    padding: 38px;
    border-bottom:1px #ccc solid;
}
.social-box a{
    font-weight:bold;
    font-size:18px;
    padding:8px;
}
.social-box a i{
    font-weight:bold;
    font-size:20px;
}
.heading-desc{
    font-size:20px;
    font-weight:bold;
    padding:38px 38px 0px 38px;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: 20px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: 0px;
    border-radius: 5px;
}
.form-signin input[type="password"] {
    margin-bottom: 0px;
    border-radius: 5px;
}
.input-group {
    margin-bottom: 15px;
}
.login-footer{
    background:#f0f0f0;
    margin: 0 auto;
    border-top: 1px solid #dadada;
    padding:20px;
}
.login-footer .left-section a{
    font-weight:bold;
    line-height:19px;
}
.mg-btm{
    margin-bottom:20px;
}
#CenterDiv{
    width:400px;
    margin-right:auto;
    margin-left:auto;
}
